@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --darkest: #010d00;
    --darker: #022601;
    --medium: #4b7d00;
    --light: #b5ecb4;
    --lighter: #bdf988;
    --lightest: #f2fff4;
    --gray-white: #ebebeb;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

li {
    margin-right: 0.5%;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    background: var(--darker);
}

figure {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0 auto;
    padding: 0.6em 1em 0.6em;
    width: 50%;
    float: right;
    color: var(--lightest);
    border-radius: 0 0 0 30px;
    background: var(--darkest);
    -webkit-box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
    -moz-box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
    box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    margin: 0 0 2% 0;
    color: var(--lighter);
}

h3 {
    color: var(--lighter);
    font-size: 3rem;
    font-weight: 200;
    margin: 0 0 2% 0;
}

h4 {
    font-size: 2rem;
    color: var(--lightest);
}

.logo {
    color: green;
    font-size: 400%;
    text-decoration: none;
    margin-left: 2%;
    text-transform: uppercase;
}


p {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--lightest);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 2%;
}

li a {
    text-decoration: none;
    color: var(--lightest);
    font-size: 1.4em;
}

label {
    color: var(--lightest);
}

li a:hover {
    text-decoration: underline;
}

/* LOGIN FORM + REGISTER */

.loginContent {
    width: 30%;
    margin-left: 40%;
}

.login {
    line-height: 1.5;
    font-size: 120%;
}

.login input {
    padding: 5%;
}

.navLi {
    margin-right: 2%;
    margin-left: 4%;
}


.navBar {
    padding-bottom: 1%;
}

.left {
    width: 60%;
}

.right {
    width: 35%;
    min-width: 350px;
    align-self: center;
}

.frontimg {
    width: 100%;
}

.loginContent h2 {
    font-size: 2.2em;
}

.loginContent h3 {
    font-size: 2em;
}

input[type=submit] {
    margin: 1% 0;
    padding: 0.5%;
    margin-left: 60%;

}

input[type=password],
input[type=text] {
    margin: 2% 0 5%;
    padding: 2% 5% 2% 2%;
    width: 70%;
}

.smalli {
    font-size: 80%;
}

/* MARKNAD */

.marketContent {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.center {
    text-align: center;
}

.objectCard {
    display: inline-block;
    overflow: hidden;
    background-color: #efefef;
    width: 300px;
    height: 308px;
    margin-bottom: 10%;
    text-decoration: none;
    box-shadow: 0 0 15px 1px #aaa;
    transition: box-shadow .15s ease;
}


.objectCard img {
    margin-left: 17.5%;
    margin-top: 5%;
}

img.thumb {
    width: 100%;
    margin: 0;
}

.objectCard p {
    color: var(--darkest);
    margin: 2% 0 0 4%;
    text-align: left;
}

.buyForm {
    display: block;
}

input[type=submit] {
    background: var(--darker);
    border: none;
    height: 100%;
    color: var(--lightest);
    text-transform: uppercase;
    padding: 1%;
    width: 35%;
    margin: 0 0 1% 60%;
}

/* PRODUCT */

.productContent {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

figure.objectCardLarge {
    display: inline-block;
    overflow: hidden;
    background-color: var(--lightest);
    padding: 5px;
    margin: 8px;
    width: 700px;
    height: 1000px;
    text-decoration: none;
    box-shadow: 0 0 15px 1px #aaa;
    transition: box-shadow .15s ease;
}
img.thumbLarge {
    width: 100%;
}

figure.objectCardLarge img {
    margin-left: 17.5%;
    margin-top: 5%;
}

/*  PROFILE PAGE SETTINGS
*/

.profile {
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 40%;
    width: 40%;
    margin-left: 30%;
    padding-bottom: 1%;
}

.profile p {
    margin: 2% 0;
}

.profile h5 {
    font-size: 1.4rem;
    margin: 1% 0;
}

.profileadd {
    text-align: center;
}

.saldoinp {
    width: 60%;
    margin: 5% 0 10% 0;
}

input.saldobutton {
    color: var(--darker);
    background-color: var(--lightest);
    width: 50%;
    padding: 3% 0;
    margin: 0;
}

.MuiSvgIcon-root {
    font-size: 1000% !important;
    text-align: center !important;
    color: var(--lightest) !important;
}

.profileprods {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
}

.blah {
    text-align: center;
}

/* HOMEPAGE */
.firstinfo {
    text-align: center;
    margin: 2% 0 5% 0;
}

.firstinfo i {
    color: var(--lightest);
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin-left: 10%;
}

.frontBox {
    background-color: var(--darkest);
    color: var(--lightest);
    width: 25%;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 5px;
}

.frontBox h4 {
    padding: 3% 0 3% 0;
    margin: 2%;
}

.frontBox p {
    padding: 1% 7% 7% 7%;
    margin: 1%;
}

.largeFrontBox h4 {
    padding: 3% 0 1% 0;
    margin: 2% 0 1% 0 ;
}

.largeFrontBox h5 {
    font-size: 3rem;
    padding: 0 7% 3% 7%;
    margin: 1% 0 0 0;
}

.largeFrontBox {
    display: block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: var(--darkest);
    color: var(--lightest);
    border-radius: 5px;
}

/* FOOTER */

.footer {
    background-color: var(--darkest);
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    height: 250px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(3,61,1,1);
    -moz-box-shadow: 10px 10px 10px 10px rgba(3,61,1,1);
    box-shadow: 10px 10px 10px 10px rgba(3,61,1,1);
}

.footercol {
    width: 20%;
    margin-top: 1%;
}

.footerli1 {
    font-size: 125%;
    text-decoration: underline;
}

.footerli1 li {
    padding: 2% 0;
}

.footerli2 {
    padding: 2% 0;
}

.footerli2 a,
.footerli2 a:visited {
    font-size: 100%;
    color: var(--lighter);
    line-height: 1.5;
}

a {
   color: var(--lightest);
}

a:visited {
   color: var(--light);
}

.msg {
    text-align: center;
}

.msg i {
    text-align: center;
}



/* @media screen and (max-width: 1000px) {
    .fpageDiv {
        flex-direction: column;
    }
    .left {
        width: 80%;
    }
} */
