@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --darkest: #010d00;
    --darker: #022601;
    --medium: #63a303;
    --light: #83d706;
    --lighter: #bdf988;
    --lightest: #f2fff4;
    --gray-white: #ebebeb;
}

body {
  margin: 0;
  width: 100%;
}

li {
    margin-right: 0.5%;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    background: var(--darker);
}

.App {
    margin: 0 auto;
    padding: 0.6em 1em 0.6em;
    width: 50%;
    float: right;
    color: var(--lightest);
    border-radius: 0 0 0 30px;
    background: var(--darkest);
    -webkit-box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
    -moz-box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
    box-shadow: -4px 4px 5px 0px rgba(3,61,1,1);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    margin: 0 0 2% 0;
    color: var(--lighter);
}

h3 {
    font-size: 2.6rem;
    font-weight: 200;
    margin: 0 0 2% 0;
}

h4 {
    font-size: 1.5rem;
}

.logo {
    color: green;
    font-size: 400%;
    text-decoration: none;
    margin-left: 2%;
    text-transform: uppercase;
}


p {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--lightest);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 2%;
}

li a {
    text-decoration: none;
    color: var(--lightest);
    font-size: 1.4em;
}

label {
    color: var(--lightest);
}

li a:hover {
    text-decoration: underline;
}

.loginContent {
    width: 30%;
    margin-left: 40%;
}

.login {
    line-height: 1.5;
    font-size: 120%;
}

.login input {
    padding: 5%;
}

.navLi {
    margin-right: 2%;
    margin-left: 4%;
}


.navBar {
    padding-bottom: 1%;
}


.fpageDiv {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 60%;
}

.right {
    width: 35%;
    min-width: 350px;
    align-self: center;
}

.frontimg {
    width: 100%;
}

.content {
    width: 80%;
    margin-left: 10%;
}

.loginContent a {
    color: var(--lightest);
}

.loginContent a:visited {
    color: var(--light);
}

.loginContent h2 {
    font-size: 2.2em;
}

.loginContent h3 {
    font-size: 2em;
}

input[type=submit] {
    margin: 1% 0;
    padding: 0.5%;
    margin-left: 60%;

}

input[type=password],
input[type=text] {
    margin: 2% 0 5%;
    padding: 2% 5% 2% 2%;
    width: 70%;
}

/* CHAT */

#all_msg {
    border: 1px solid #db823B;
    padding: 5%;
    margin-bottom: 2%;
}

.msg_text {
    margin: 2% 0 2% 5%;
}

.chaterror {
    color: red;
}

.smalli {
    font-size: 80%;
}

figure.objectCard {
    display: inline-block;
    overflow: hidden;
    background-color: #efefef;
    padding: 5px;
    margin: 8px;
    width: 300px;
    height: 350px;
    text-decoration: none;
    box-shadow: 0 0 15px 1px #aaa;
    transition: box-shadow .15s ease;
}

figure.objectCard img {
    margin-left: 17.5%;
    margin-top: 5%;
}

img.thumb {
    max-width: 200px;
    max-height: 200px;
}

figure p {
    color: black;
    margin: 0;
    text-align: center;
}

figure.objectCardLarge {
    display: inline-block;
    overflow: hidden;
    background-color: #efefef;
    padding: 5px;
    margin: 8px;
    width: 300px;
    height: 350px;
    text-decoration: none;
    box-shadow: 0 0 15px 1px #aaa;
    transition: box-shadow .15s ease;
}

figure.objectCardLarge img {
    margin-left: 17.5%;
    margin-top: 5%;
}

/*  PROFILE PAGE SETTINGS
*/

.profile {
    background-color: red;
    min-height: 250px;
    width: 30%;
    margin-left: 35%;
}


@media screen and (max-width: 1000px) {
    .fpageDiv {
        flex-direction: column;
    }
    .left {
        width: 80%;
    }
}
